root{
  --font-size:1em;
  --font-family:helvetiva;
  
}

body{
  background-color:gray;
   margin:auto;
  width:320px;
  margin:auto;


}

.top{
  grid-template-columns:1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  display:grid;
}
.mainnav{
  grid-row:1/2;
}

.nav{

  color:white;
  background-color:rgb(189, 189, 27);
  list-style:none;
  font-family:Source Serif Variable,serif;
  font-weight:800;
  font-size:1em;
  padding:1em;
 text-align:center;

  
 }
.nav2{
  list-style:none;
  color:white;
  font-size:1em;
  font-weight:700;
  display:inline;
  font-family:Source Serif Variable,serif;
  padding:0.40em;

}
.nav2:hover{
  color:darkred;
}
.navrec{
  color:darkred;
}

.secondnav{
  background-color:darkgrey;
  text-align:center;
  padding:1em 0.50em 1em 0.50em;
  
}
.search{
  list-style:none;
  color:white;
  font-size:1em;
  font-weight:800;
  display:inline;
  padding-left:1em;

 
 }
.input{
list-style:none;
 margin-bottom:0.50em;
}
.allsearch{
  display:inline;
  padding:1em 2em 0.50em 1em;
 
  }

.list{
  display:inline;
   text-transform:uppercase;
   padding:0.50em;
}
.list:hover{
  color:darkred;
}

.listmaterial{
   display:inline;
  padding-left:3.50em;
  padding-top:0.75em;
  width:0.25px;
  height:0.25px;
  
  
  
}


h1{
  font-family:hevetica, arial, sanserif;
  color:yellow;
  padding-top:1em;
  
  }

.btaste{
  background: url('https://ssmscdn.yp.ca/image/resize/c6d529d1-2408-470a-bc06-249524c25a0e_pl-landscape.jpg') top repeat-y;
 
  background-size: 320px50px;
  height:auto;
 Grid-row:2/5;
}

h2{
  font-family:hevetica, arial, sanserif;
  color:darkred;
/*font-weight:900:*/
  
}

h3{
  color:white;
  background-color:rgb(189, 189, 27);
  padding-left:0.50em;
}

h4{
  color:yellow;
  font-style:italic;
}

h5{
 
    color:black;
  font-size:1em;
  font-style:normal;
  font-family:hevetica, arial, sanserif;
  font-weight:700;
}
p{
  color:black;
  font-size:1em;
  font-style:normal;
  font-family:hevetica, arial, sanserif;
  font-weight:700;
}


.img {
  width:320px;
}
.highlight{
  background-color:rgb(233, 233, 114);
    text-transform:uppercase;
  font-style:normal;
  font-size:0.75em;
}



footer{
  background-color:rgb(189, 189, 27);
  text-align:center;
  padding:0.50em 0em 0.50em 0em;
}
.foo{
  display:inline;
  font-size:0.80em;
 padding:0.60em;
  font-style:normal;
  color:yellow;
  font-family:hevetica, arial, sanserif;
 
  
}

.policy{
 padding-bottom:1em;
 padding-right:38px;
}

.lastfo{
  color:white;
    font-size:0.70em;
 
}

.star{
 list-style:none;
}
.rate{
  display:inline;
}
.rrate{padding-right:1em;
  color:white;
}
.comment{
  background-color:darkgrey;
 
}
.com{
  color:black;
  padding:0.20em 1em 0.20em 1em;
  text-align:center;
}

.name{
  padding-left:25px;
}

.e-mail{
  padding-left:20px;
}

.submit{
  padding-left:7px;
}

@media screen and (min-width:680px){
  
  body{
  background-color:gray;
  margin:auto;
  width:680px;
  margin:auto;

 }
  
 
  
 .mainnav{
  grid-row:1/2;
}

.nav{
  font-size:1.25em;
  padding:1em 1em 1em 0.08em;
 text-align:center;

  
 }
.nav2{
   font-size:1.25em;
   padding:0.90em;
}
  
.secondnav{
  padding:1em 0.20em 1em 0.20em;
  }
  
.search{
font-size:1.35em;
padding-left:1.5em;
 }
  
.input{
margin-bottom:0.60em;
  width:350px;
  height:20px;
 
}
  
  .ingredient{
    grid-template-columns:1fr 1fr;
    gris-template-rows:1fr 1fr;
    display:grid;
  }
  
 
  
  .ia{
    grid-row:1/2;
    grid-column:1/2;
    padding-top:100px;
    padding-left:2px;
   
  
    
  }
  .ib{
    grid-row:1/2;
    grid-column:2/3;
  
    padding-right:1em;
    
  }
  
  .ic{grid-row:2/3;
    grid-column:1/2;

     padding-left:2em;
  }
 
  .id{
    grid-row:2/3;
    grid-column:2/3;
  
  }
 
  
  
  
.allsearch{
  display:inline;
  padding:1em 2em 0.50em 1em;
 
  }

h2{
  font-weight:900;
  font-size:2em;
  
}

h3{
  color:white;
  background-color:rgb(189, 189, 27);
  padding-left:0.50em;
  font-size:1.5em;
  
}

h4{
  color:yellow;
  font-style:italic;
  font-size:1.25em;
}

h5{
  
   font-family:hevetica, arial, sanserif;
  color:black;
  font-size:0.80em;
   font-style:normal;
} 
p{
  color:black;
    font-size:1em;
  font-style:normal;
  
}


.img {
  width:450px;
}
.highlight{
  background-color:rgb(233, 233, 114);
    text-transform:uppercase;
  font-style:normal;
  font-size:0.75em;
}

.com{
  color:black;
  padding:0.20em 1em 0.20em 1em;
}

footer{
  background-color:rgb(189, 189, 27);
  text-align:center;
  padding:0.50em 0em 0.50em 0em;
}
  
  .name{
  padding-left:50%;
}

.e-mail{
  padding-left:49%;
}

.submit{
  padding-left:47%;
}

.foo{
  display:inline;
  font-size:1.10em;
 padding:0.60em;
  font-style:normal;
  color:yellow;
  font-family:hevetica, arial, sanserif;

 
  
}

.policy{
 padding-bottom:1em;
   padding-right:43px;
}
.lastfo{
  color:white;
    font-size:1em;
 
}

.star{
 list-style:none;
}
.rate{
  display:inline;

}
.rrate{padding-right:1em;

  color:white;
}
.comment{
  background-color:darkgrey;
} 
  .imgny{
    padding-top:1em;
  }
  
  }



@media screen and (min-width:900px){
  
  body{
  background-color:gray;
  margin:auto;
  width:1020px;
  margin:auto;

 }
 
  
 .mainnav{
  grid-row:1/2;
}

.nav{
  font-size:1.45em;
 padding:1.25em;

 text-align:center;
 
  
 }
  
  .listmaterial{
   display:inline;
  padding-left:11em;
  padding-top:0.75em;
  width:0.25px;
  height:0.25px;
  
  
  
}
.nav2{
   font-size:1.55em;
   padding:1.60em;
}
  
.secondnav{
  padding:1em 0.20em 1em 0.20em;
  }
  
.search{
font-size:1.70em;
padding-left:5em;
 }
  
.input{
margin-bottom:0.60em;
  width:400px;
  height:25px;
 
}
  .btaste{
  background: url('https://ssmscdn.yp.ca/image/resize/c6d529d1-2408-470a-bc06-249524c25a0e_pl-landscape.jpg') top repeat-y;
 
  background-size: 320px50px;
  height:auto;
 Grid-row:2/5;

}
  
  
  
  
.allsearch{
  display:inline;
  padding:1em 2em 0.50em 2em;
 
  }
  h1{
    font-size:2.20em;
   
  }
h2{
  font-weight:900;
  font-size:2em;
  
}

h3{
  color:white;
  background-color:rgb(189, 189, 27);
  padding-left:1em;
  font-size:1.5em;
  
}

h4{
  color:yellow;
  font-style:italic;
  font-size:1.25em;
  padding-left:0.80em;
}

h5{
  
  font-family:hevetica, arial, sanserif;
  color:black;
  font-size:0.95em;
   font-style:normal;
   padding-left:0.80em;
} 
p{
  color:black;
    font-size:1em;
  font-style:normal;
   padding-left:0.80em;
}


.img {
  width:600px;
   }
.highlight{
  background-color:rgb(233, 233, 114);
    text-transform:uppercase;
  font-style:normal;
  font-size:0.75em;
}

   .comment{
  background-color:darkgrey;
  margin-top:2em;
 }

 
footer{
  background-color:rgb(189, 189, 27);
  text-align:center;
  padding:0.50em 0em 0.50em 0em;
}
.foo{
  display:inline;
  font-size:1.30em;
 padding:1em;
  font-style:normal;
  color:yellow;
  font-family:hevetica, arial, sanserif;
  text-align:center;
 
  
}

.policy{
 padding-bottom:1.5em;
 
}
.lastfo{
  color:white;
    font-size:1em;
 
}

.star{
 list-style:none;
}
.rate{
  display:inline;

}
.rrate{padding-right:1em;

  color:white;
}
.comment{
  background-color:darkgrey;
} 
  .imgny{
    padding-top:1em;
  }
  .imgbutter{
    width:480px;
    padding-left:1em;
  }
  
  .ia{
    grid-row:1/2;
    grid-column:1/2;
    padding-top:100px;
    padding-left:2px;
   
  
    
  }
  .ib{
    grid-row:1/2;
    grid-column:2/3;
  
    padding-right:1em;
    
  }
  
  .ic{grid-row:2/3;
    grid-column:1/2;

     padding-left:2em;
  }
 
  .id{
    grid-row:2/3;
    grid-column:2/3;
  
  }
 .imgb{
    width:380px;
padding-left:30px;}
  .imgc1{
    width:450px;
    padding-left:40px;
  }
  .imgt{
    width:450px;
    
  }
  .imgd{
    width:450px;
    padding-left:40px;
  }
  
  .name{
  padding-left:50%;
   margin-top:0.5em;
}

.e-mail{
  padding-left:49.5%;
}

.submit{
  padding-left:48%;
  margin-bottom:0.5em;
  padding-top:1em;
}
 
  }
  
  
   